body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
.valid {
  color: #57b846;
}
.warning {
  color: #ffa500 !important;
}
.invalid {
  color: #ea4355 !important;
}
.toast-invalid {
  background-color: #f44336 !important;
  border-radius: 5px !important;
  color: #f8f8f8 !important;
}
.toast-valid {
  background-color: #4caf50 !important;
  border-radius: 5px !important;
  color: #f8f8f8 !important;
}
.disable {
  background-color: #ccc !important;
  box-shadow: none !important;
  opacity: 0.9 !important;
  pointer-events: none;
}
.questions {
  background-color: #f8f8f8;
  border-left: 5px solid #1da1f2;
  width: 80%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;
}
.questions h2 {
  text-align: center;
  font-weight: lighter;
}
.questions .lifeline-container {
  display: flex;
  justify-content: space-between;
}
.questions .lifeline {
  position: relative;
  top: -3px;
}
.questions .lifeline-icon {
  color: #57b846;
  cursor: pointer;
}
.questions .lifeline-icon:hover {
  background: none;
  color: #cc8400;
}
.questions h5 {
  font-size: 1.2rem;
  margin-bottom: lg;
  line-height: 1.5;
  text-align: center;
}
.questions .options-container {
  display: inline-block;
  width: 50%;
}
.questions .option {
  background-color: #1da1f2;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  margin: 2rem auto;
  padding: 1rem;
  transition: 0.3s linear all;
  text-align: center;
  width: 90%;
}
.questions .option:hover {
  background-color: #0967a0;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 1.5rem auto;
  padding: 2rem;
  width: 80%;
}
.button-container button {
  border: none;
  color: #f8f8f8;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  margin-right: 2rem;
  padding: 0.5rem 1.5rem;
}
.button-container button:first-child {
  background-color: #0c85d0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}
.button-container button:first-child:hover {
  background-color: #0967a0;
}
.button-container button:nth-child(2) {
  background-color: #57b846;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}
.button-container button:nth-child(2):hover {
  background-color: #469338;
}
.button-container button:last-child {
  background-color: #ea4355;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}
.button-container button:last-child:hover {
  background-color: #e1192f;
}
.quiz-summary {
  font-family: "Quicksand", sans-serif;
}
.quiz-summary span.success-icon {
  color: #57b846;
  font-size: 7rem;
}
.quiz-summary h1 {
  color: #57b846;
  text-align: center;
  font-size: 3rem;
  margin-top: -1.5rem;
}
.quiz-summary h2 {
  color: #1da1f2;
}
.quiz-summary h4 {
  color: #4d4d4d;
}
.quiz-summary .stats {
  background-color: #f8f8f8;
  max-width: 50%;
  padding: 1.5rem 2rem 2rem 2rem;
}
.quiz-summary .stats h4,
.quiz-summary .stats h2 {
  text-align: center;
}
.quiz-summary .stats .stat {
  color: #333;
  font-size: 1rem;
}

.quiz-summary section ul {
  margin-top: 1.5rem;
  text-align: center;
}
.quiz-summary section ul li {
  display: inline-block;
}
.quiz-summary section ul li a {
  padding: 1.5rem !important;
}
/*
.quiz-summary section ul li a:hover {
  color: #f8f8f8;
}
.quiz-summary section ul li:first-child {
  border: 1px solid #1da1f2;
  margin-right: 1.5rem;
  transition: 0.3s linear all;
}
.quiz-summary section ul li:first-child:hover {
  background-color: #1da1f2;
}
.quiz-summary section ul li:last-child {
  border: 1px solid #57b846;
  transition: 0.3s linear all;
}
.quiz-summary section ul li:last-child:hover {
  background-color: #57b846;
}
.quiz-summary section ul li:last-child a {
  color: #57b846;
}
.quiz-summary section ul li:last-child a:hover {
  color: #f8f8f8;
}
*/
.quiz-summary .no-stats {
  color: #333;
  margin: 7rem auto;
}
@media (max-width: 768px) {
  .quiz-summary {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  div.container.stats {
    margin: 0;
    padding: 1.5rem;
    max-width: 100%;
    width: 100%;
  }
}


.onHover:hover{
  transform: scale(1.10);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}